<h2 class="clearfix"><span>Forum <%=h @forum.title %></span></h2>

<p><%= link_to "add a topic", new_forum_topic_path(@forum), :class => 'button add' %></p>

<div class="portlet portletB" id="topics_list">
  <div class="portlet_content">
    <table class="tableB" id="topics_paginated">
      <% unless @topics.blank? %>
        <%= render :partial => "/forums/partials/topics_paginated" %>
      <% end %>
    </table>
  </div>    
</div>
