  <div class="portlet portletB" id="topics_list">
    <h2 class="clearfix">
      <span style="float: right; width: 10%;"><%= link_to "add a topic", new_forum_topic_path(@forum) %></span>
      <span style="float: right; width: 90%;"><%=h @forum.title %></span>
    </h2>

  <div class="portlet_content">
    <table class="tableB" id="topics_paginated">
      <% unless @topics.blank? %>
        <%= render :partial => "/forums/partials/topics_paginated" %>
      <% end %>
    </table>
  </div>    
</div>
