<div class="fields">
  <p>
    <label for="forum_topic_title">Title</label>
    <%= f.text_field :title, :class=>"fieldbox", :size => 35 %>
  </p>
  <p>
    <label for="forum_topic_body">Body</label>
    <%= f.text_area :body, :class => 'fieldbox', :size => '60x10' %>
  </p>
</div>