<% unless f.object_name == :post %>
  <dt><label for="mail_name">Title:</label></dt>
  <dd><%= f.text_field :title, {:class => "textfield required wide", :style => "width: 398px;"}  %></dd>
<% end %>
<dt><label for="mail_name">Body:</label></dt>
<dd><%= f.text_area :body, {:rows => 5, :class => "textfield required wide", :style => "width: 398px;"}  %></dd>
