<table class="tableB highlight clearfix">
  <a name="post_<%= highlighted_post.id %>"></a>
  <tr class="pair">
    <td colspan="2">matching post:</td>
  </tr>
  <%= render :partial => "/topics/partials/post", :object => highlighted_post %>
</table>

