<table class="tableB">
  <thead>
    <tr class="pair original_message">
      <th>
        originally posted by <%= link_to original_topic.user.login, profile_path(original_topic.poster_profile) %> on <%= I18n.l(original_topic.created_at, :format => :long) %>
      </th>
    </tr>
  </thead>
  <tr>
    <td>
      <%= original_topic.body %>
    </td>
  </tr>
</table>