<table class="tableE">
  <caption><%= I18n.t("tog_forum.admin.forum_details") %></caption>
  <tbody>
  <tr>
      <th scope="row"><%= I18n.t("tog_forum.model.title") %></th>
      <td nowrap="nowrap"><%=f.text_field :title, :class=>"fieldbox" %></td>
  </tr>
</tbody></table>