<div class="titleB">Forum <%=h @forum.title %>: Add Topic</div>
<br />

<%= error_messages_for :topic %>


<% form_for :topic, :url => forum_topics_url(@forum)  do |f| %>
  <fieldset>
    <legend>Topic details</legend>
    <%= render :partial => "/topics/partials/form", :locals => { :f => f } %>
    <div class="actions">
      <%= submit_tag 'Post topic', :class => "button mainaction" %>
    </div>
  </fieldset>
<% end %>
