<div class="portlet portletB" id="add_topic">
  <h2><span><%=h @forum.title %>: Add Topic</span></h2>
  <div class="detail detail1" style="clear: both; width: 100%;">
    <div id="portlet_addTopicDetails">
      <%= error_messages_for :topic %>
      <% form_for :topic, :url => forum_topics_url(@forum)  do |f| %>
        <dl class="alignright">
          <%= render :partial => "/topics/partials/form", :locals => { :f => f } %>
          <dt></dt>
          <dd><%= submit_tag 'post message', {:class=>"button mainaction"} %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>
